.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.row--action {
	grid-template-columns: 3fr 1fr;
}

.button-container {
  border-left: 1px solid #989898;
  border-bottom: 1px solid #989898;
  border-right: 1px solid #989898;
}

.button {
	padding: 2rem;
	border: 1px solid #989898;
	font-size: 4.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
}

.button--white {
	background: #ffffff;
	color: #222222;
}

.button--red {
	background: #a0001d;
	color: #fefcfd;
}
